<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 配置 NuGet 包源 -->
  <packageSources>
    <!-- 官方的 NuGet 源 -->
    <add key="github" value="https://nuget.pkg.github.com/squarewindyk/index.json" protocolVersion="3" />
    
    <!-- 自定义的本地或私有 NuGet 源，可以添加多个源 -->
    <!-- <add key="LocalSource" value="C:\LocalNugetPackages\" /> -->
    <!-- <add key="PrivateSource" value="https://my-private-feed-url" /> -->
  </packageSources>

</configuration>
